node_modules
npm-debug.log
.git
.gitignore
.env
.env.temp
.DS_Store
*.log
logs/
frontend/node_modules
backend/node_modules
frontend/build
.elasticbeanstalk
.ebextensions
.ebignore
backend/tests
backend/test_*.txt
test_*.txt
